{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

</head>
<body>
    <header>
        <h1>Boekingsformulier</h1>
        <p>Reserveer jouw ultieme verblijf bij Gaming_Lodge</p>
    </header>
    <div class="image-container">
        <img src="/static/Boekingsformulier.jpg" alt="Boekingsformulier Gaming_Lodge">
    </div>
    <section>
        <h2>Maak een Reservering</h2>
        <form action="#" method="POST" style="max-width: 400px; margin: 0 auto;">
            {{ form.hidden_tag() }}

            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }} 

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}

            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}

            {{ form.arrival.label(class="form-label") }}
            {{ form.arrival(class="form-control") }}

            <!-- Laat een dropdown menu zien voor elke record in de tabel Bungalow -->
            <label for="bungalow" class="form-label">Bungalowselectie</label>
            <select id="bungaloww" name="bungalow" class="form-control">
            <option value="">Selecteer een bungalow</option> 
            {% for bungalow in bungalows %}
            <option value="{{ bungalow.id }}">{{ bungalow.bnaam }}</option>  
            {% endfor %}
            </select>

            <label for="duration" class="form-label">Duur van verblijf</label>
            <select id="duration" name="duration" class="form-control" onchange="updateTotal()">
                <option value="129">Nachtpakket - 129 euro</option>
                <option value="349">Weekendpakket - 349 euro</option>
                <option value="999">Weekpakket - 999 euro</option>
            </select>


            <div id="total" style="margin-top: 20px; font-weight: bold;">Totaal: 129 euro</div>

            <button type="submit">{{ form.submit.label.text }}</button>
        </form>
    </section>

    <script>
        function updateTotal() {
            const duration = document.getElementById("duration");
            const total = document.getElementById("total");
            const selectedPrice = duration.options[duration.selectedIndex].value;
            total.textContent = `Totaal: ${selectedPrice} euro`;
        }

        document.querySelector("form").addEventListener("submit", function(e) {
            const payment = document.getElementById("payment");
            if (payment.value === "") {
                alert("Selecteer een betaalmethode.");
                e.preventDefault();
            }
        });
    </script>
</body>
</html>
{% endblock %}
