{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<body>
    <!-- Header -->
    <header>
        <h1>Galerij</h1>
        <p>Ontdek onze ruimtes en faciliteiten</p>
    </header>

    <!-- Fotogalerij -->
    <div class="gallery">
        <div class="gallery-item">
            <img src="/imgs/gamingroom.jpg" alt="Gaming Room">
            <p>Gaming Room</p>
        </div>
        <div class="gallery-item">
            <img src="/templates/imgs/disco.jpg" alt="Disco">
            <p>Disco</p>
        </div>
        <div class="gallery-item">
            <img src="zwembad.jpg" alt="Zwembad">
            <p>Gezamenlijk Zwembad</p>
        </div>
        <div class="gallery-item">
            <img src="imgs/Keuken.jpg" alt="Keuken">
            <p>Keuken</p>
        </div>
        <div class="gallery-item">
            <img src="imgs/Badkamer.jpg" alt="Badkamer">
            <p>Badkamer</p>
        </div>
        <div class="gallery-item">
            <img src="imgs/Woonkamer.jpg" alt="Woonkamer">
            <p>Woonkamer</p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Gaming Lodge. Alle rechten voorbehouden.</p>
    </footer>
</body>

{% endblock %}

