{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

</head>
<body>
    <header>
        <h1>LAN Party Overzicht</h1>
    </header>
    <main>
        <section class="party-card">
            <h2>LAN Party</h2>
            <p><strong>Locatie:</strong> Gaming room</p>
            <p><strong>Datum:</strong> 15 februari</p>
            <p><strong>Spel:</strong> Age of Empires II: Definitive Edition</p>
            <p><strong>Beschrijving:</strong> Exclusief voor gasten van Gaming_lodge. Gratis eerste drankje + snack.</p>
        </section>
        <section class="party-card">
            <h2>LAN Party</h2>
            <p><strong>Locatie:</strong> Gaming room</p>
            <p><strong>Datum:</strong> 22 februari</p>
            <p><strong>Spel:</strong> Counter-Strike: Global Offensive</p>
            <p><strong>Beschrijving:</strong> Exclusief voor gasten van Gaming_lodge. Gratis eerste drankje + snack.</p>
        </section>
        <section class="party-card">
            <h2>LAN Party</h2>
            <p><strong>Locatie:</strong> Gaming room</p>
            <p><strong>Datum:</strong> 1 maart</p>
            <p><strong>Spel:</strong> Minecraft</p>
            <p><strong>Beschrijving:</strong> Exclusief voor gasten van Gaming_lodge. Gratis eerste drankje + snack.</p>
        </section>
    </main>
   
</body>
</html>
{% endblock %}
