{% extends "base.html" %}
{% block title %}Account Aanmaken{% endblock %}
{% block content %}

<header>
    <h1>LAN-Party_registreren</h1>
    </header>
    <div class="row justify-content-center">
<section>
    <h2>Vul de gegevens in</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.lannaam.label }}
            {{ form.lannaam }}
        </div>
        {{ form.organisator.label }}
        {{ form.organisator }}
        <div class="mb-3">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.datum.label }}
            {{ form.datum }}
        </div>
        <div class="mb-3">
            {{ form.aantalstoelen.label }}
            {{ form.aantalstoelen }}
        </div>
        <div class="mb-3">
            {{ form.opmerking.label }}
            {{ form.opmerking }}
        </div>
        <button type="submit">{{ form.submit.label.text }}</button>
        </form></section></div>
    </form>
</section>

<footer>
    <p>© 2025 Gaming_Lodge. Alle rechten voorbehouden.</p>
</footer>

</body>
</html>
{% endblock %}
