{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<header>
    <h1>Welkom op de Homepagina</h1>
    <p>Voeg klanten toe of maak een account aan</p>
</header>

<section>
    <h2>{{ actie if actie else "Klant toevoegen" }}</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>

        <button type="submit" class="btn">{{ form.submit.label.text }}</button>
    </form>
</section>


<footer>
    <p>&copy; 2025 Mijn Website. Alle rechten voorbehouden.</p>
</footer>

{% endblock %}
